@{
    Layout = null;
}

<div id="thelists" movieid="@ViewBag.Id" style="width:350px;">
    @if(WebSecurity.IsAuthenticated){
    <h5>Select a format:</h5>
    <div id="formats">
        <a class="format button color">Blu-ray</a>
        <a class="format button color">Digital</a>
        <a class="format button color">DVD</a>
    </div>
    <h5>Select a list:</h5>
    <ul>
        @foreach (FilmTrove.Models.ListInfo li in ViewBag.Lists)
        {
            String classname = li.InList ? "gray" : "color addlink";
        <li class="lists"><a class="button @classname" listid="@li.ListId" href="#">@li.ListName</a></li>    
        }
    </ul>
    <h5>Or, Add a new list:</h5>
    <div class="field">
        <input type="text" id="newlistname" style="height:20px;float:left;" placeholder="New List Name..." />
        <a class="addnewlink button color" style="float:right;padding: 14px 15px 14px 15px;" href="#">Create</a>
    </div>
    }
    else
    {
    <p>Please log in to add titles to your lists</p>
    }
    <br class="clear">
</div>
<script type="text/javascript">
    $('#thelists ul').isotope({
        itemSelector: '.lists',
        layoutMode: 'fitRows'
    });

    $('#formats .format').click(function() {
        $(this).toggleClass('selected');
    });

    //add a new list
    $('.addnewlink').click(function () {
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/lists/new/' + $('#newlistname').val() + '/' + $('#thelists').attr('movieid')
        }).done(function (list) {
            $('#thelists .notification').remove();
            if (list.Success) {
                var newli = $('<li class="lists"><a class="button color addlink" listid="' + list.ListId + '" href="#">' + list.ListName + '</a></li>');
                $('#thelists ul').append(newli).isotope('appended', newli);
                newli.bind('click', { listid: list.ListId }, AddTitle);
            }
            else {
                $('#thelists').append('<div class="notification error"><p><span>Error</span><br />' + list.Message + '</p></div>');
            }
        })
    });

    //add title to a list
    function AddTitle(event) {
        var listformats = '';
        $('#formats .selected').each(function(){
            listformats += this.text + ' ';
        });
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/lists/add/' + $('#thelists').attr('movieid') + '/' + event.data.listid + '/' + listformats
        }).done(function (result) {
            $('#thelists .notification').remove();
            if (result.Success) {
                $('#thelists .lists [listid="' + event.data.listid + '"]').removeClass('color addlink').addClass('gray');
                $('#thelists').append('<div class="notification success"><p><span>Success</span><br />Successfully added.</p></div>');
            }
            else
                $('#thelists').append('<div class="notification error"><p><span>Error</span><br />Erp.  ' + result.Message + '  Sorry, it didn\'t quite work.  If the problem persists, please let me know through the feedback =></p></div>');
        })
    }

    $('.addlink').each(function(){
        $(this).bind('click', { listid: $(this).attr('listid') }, AddTitle);
    });
</script>
